/* media querryy-------------------- */
@media (max-width:768px){

.hero-content h1{
font-size:2.5em;
}

.nav-links{
gap:15px;
}

.nav-links a{
font-size:14px;
}

.gx-wheel-container{
width:280px;
height:280px;
}

.gx-wheel-center{
width:90px;
height:90px;
font-size:14px;
}

.gx-wheel-skill{
width:60px;
height:60px;
}

i{
font-size:30px;
}

.navbar{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:50px;

    display:flex;
    justify-content:space-between;
    align-items:center;

    padding:0 60px;

    background:rgb(31, 31, 31); /* semi transparent black */

    backdrop-filter: blur(6px); /* glass effect */
    -webkit-backdrop-filter: blur(6px);

    z-index:1000;
}

/* LOGO */
.logo1{font-size:15px;
    font-weight:bold;
    color:white;}

/* NAV LINKS */

.nav-links{
    list-style:none;
    display:flex;
    gap:30px;
}

.nav-links a{
    text-decoration:none;
    color:white;
    font-size:10px;
    transition:0.3s;
}

/* hover effect */

.nav-links a:hover{
    color:#00c3ff;
}
#circle img{
    border: 2px solid oldlace;
    border-radius: 50%;
    background-color: burlywood;
    height: 250px;
    width: 250px;
    object-fit: cover;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    margin-top: 20%;
}
.overlay{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background:rgb(3, 3, 3);
    opacity:0.2;
    transition:opacity 0.2s;
}
#mob{
    font-size: 15px;
    color: beige;
    text-align: justify;
    padding: 25px;
}
.skillmob{
    color: beige; font-size: larger; font-weight: bolder;
}

.project-container{
flex-direction:column;
text-align:center;
}

.project-image img{
width:90%;
}


.academic-card{
flex-direction:column;
text-align:center;
}

.academic-year{
min-width:auto;
}

.certificate-container{
grid-template-columns:repeat(2,1fr);
}


#action-bar{
padding:60px 10%;
background:rgba(0,0,0,0.7);
border-radius:40% 0 0 40%;
display:flex;
justify-content:center;
margin-top: 50%;
}
}






























@media (max-width:480px){

.hero-content h1{
font-size:2em;
}

.logo{
font-size:18px;
}

.navbar{
height:60px;
padding:0 20px;
}

.gx-wheel-container{
width:240px;
height:240px;
}

.gx-wheel-skill{
width:50px;
height:50px;
}

i{
font-size:24px;
}

}
@media (max-width:600px){

.certificate-container{
grid-template-columns:1fr;
}

.certificate-card img{
height:200px;
}

}
